@model WebApplication2.Models.Coffee

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


<h1 style="margin-bottom: 10px"> Coffee Home </h1>

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}



<div>
</div>

