@model WebApplication2.Models.Coffee

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Delete Coffee";
    Layout = "_CoffeeLayout";
}

<h1 style="margin-bottom: 10px">Delete Coffee</h1>

<div>
    <h4>@Model.Name</h4>
    <h4>ID: @Model.CoffeeId</h4>  

    <form asp-action="DeleteConfirm" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.CoffeeId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>