@model WebApplication2.Models.Coffee

@{
    ViewBag.Title = "Coffee Details";
    Layout = "_CoffeeLayout";
}

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

<h1 style="margin-bottom: 20px">Coffee Details</h1>

<div class="coffee-details-container">
    <!-- Coffee Image on the left -->
    <div class="coffee-image">
        <img src="~/images/coffee-image.jpg" alt="Coffee Image" class="img-fluid" />
    </div>

    <!-- Coffee Details on the right -->
    <div class="coffee-info">
        <h2>@Model.Name</h2>
        <div class="coffee-meta">
            <span><strong>Roast Type:</strong> @Model.RoastType</span>
        </div>
        <div class="coffee-description">
            <strong>Description:</strong>
            <p>@Model.Description</p>
        </div>
    </div>
</div>

<footer>
    footer content
</footer>

