@model WebApplication2.Models.Coffee

@{
    ViewBag.Title = "Coffee Details viewbag title";
    Layout = "_CoffeeLayout";
}

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

<h1 style="margin-bottom: 10px"> Coffee Home </h1>

<div>
    <div class="w-100">
        <span> img of coffee</span>
        <div>
            <h5>@Model.Name</h5>
            <span> - @Model.Name</span>
            <span> - @Model.Description</span>
            <span> - @Model.RoastType</span>
        </div>
    </div>

    <div>
         
    </div>

    <div>
    </div>

</div>


<footer>
    footer
</footer>