@model WebApplication2.Models.Coffee
@* @Model WebApplication2.Models.Coffee *@

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


<h1 style="margin-bottom: 10px"> Edit coffee </h1>


<div>

    @if (Model == null)
    {
        <form asp-action="Edit" method="get">

            <div class="form-group">
                <label asp-for="Id">Enter Coffee Id:</label>
                <input type="number" name="Id" class="form-control" required="required"/>
            </div>
            <button type="submit" class="btn btn-primary"> Find Coffee Id </button>
        </form>

        @if (TempData["ErrorMessage"] != null)
        {
            <div >
                @TempData["ErrorMessage"]
            </div>
        }
    }
    else
    {
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id"/>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Temp"></label>
                <input asp-for="Temp" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary"> Save Changes </button>
        </form>
    }

</div>

<div>
    edit done
</div>

