@model WebApplication2.Models.Coffee
@* @Model WebApplication2.Models.Coffee *@

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


<h1 style="margin-bottom: 10px"> Edit coffee </h1>


<div>

    @if (Model == null)
    {
        <form asp-action="Edit" method="get">

            <div class="form-group">
                <label asp-for="CoffeeId">Enter Coffee CoffeeId:</label>
                <input type="number" name="CoffeeId" class="form-control" required="required"/>
            </div>
            <button type="submit" class="btn btn-primary"> Find Coffee CoffeeId </button>
        </form>
    }
    else
    {
        <form asp-action="EditCoffee" method="post">
            <input type="hCoffeeIdden" asp-for="CoffeeId"/>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="RoastType"></label>
                <input asp-for="RoastType" class="form-control"/>
            </div>
      
            <button type="submit" class="btn btn-primary"> Save Changes </button>
        </form>
    }

</div>

<div>
    edit done
</div>

