@model List<WebApplication2.Models.Coffee>

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}


<h1 style="margin-bottom: 10px"> Cofe Home Page </h1>


<div>
    section 1
</div>

<div class="detailTable">
    <div class="container text-center" style="font-size: 25px; margin-top: 25px; margin-bottom: 25px">
        <div>
            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Details"> Drinks </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Create"> Create </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Edit"> Edit </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Delete"> Delete </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sectionTwo">
    <div class="sectionTwoInnerContainer">
        <div class="sectionTwoInnerContainerLeft">
            <h1> Header </h1>
            <p> context test text </p>
            <div> button link to other </div>
        </div>
        <div class="sectionTwoInnerContainer">
            <img alt="image desc" src="https://static.wixstatic.com/media/10a139_7124e672ef014e9c9bccef26c236cbb4~mv2.jpg/v1/fill/w_656,h_800,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Photo%20by%20Carter%20Nance.jpg"; class="sectionTwoInnerContainerRight">
        </div>
    </div>
</div>


<div>
    section 3
</div>

<div>
    end
</div>