@model List<WebApplication2.Models.Coffee>

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}


<h1 style="margin-bottom: 10px"> Coffee Home </h1>


<div>
</div>




<div>
    display extra
</div>