@model WebApplication2.Models.OrderDetail

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

@using (Html.BeginForm("DeleteConfirm", "OrderDetail", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <h3>Delete Order Details</h3>

        <div>
            <p>Id: @Model.OrderId</p>
            @Html.HiddenFor(model => model.OrderDetailId)
        </div>

        <div>
            <button type="submit">Yes</button>
            @Html.ActionLink("No", "Index", "Coffee")
        </div>
    </div>
}