@model WebApplication2.Models.User

<link href="~/css/UserStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_UserLayout";
}


<h1 style="margin-bottom: 10px"> User Home </h1>





<div>
    display extra
</div>
