@model WebApplication2.Models.Order


@{
    ViewBag.Title = "Order Detail Details";
    Layout = "_CoffeeLayout";
}

<link href="~/css/OrderDetailStyle.css" rel="stylesheet" type="text/css" />

<h1 style="margin-bottom: 20px">Order Detail  Details</h1>

<div class="orderDetail-details-container">
    <div class="orderDetail-image">
        <img src="~/images/orderDetail-image.jpg" alt="orderDetail Image" class="img-fluid" />
    </div>

    <div class="orderDetail-info">
        <h2>@Model.OrderId</h2>
        <div class="orderDetail-meta">
            <span><strong>Roast Type:</strong> @Model.CustomerId</span>
            <span><strong>Roast Type:</strong> @Model.OrderDate</span>
        </div>
    </div>
</div>

<footer>
    footer content
</footer>

