@using WebApplication2.Models

@model List<WebApplication2.Models.OrderDetail>

<link href="~/css/UserStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_UserLayout";
}

<h1 style="margin-bottom: 10px"> Order Home </h1>
