@model List<WebApplication2.Models.Coffee>

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}


<h1>About me - Darren Fisher page</h1>
