@model List<WebApplication2.Models.Coffee>

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<div >
    
    <img class="detailTopImage" alt="top image desc" src="https://www.argusleader.com/gcdn/-mm-/0062548526e48e1ee657438c6083f0e92d7fcc23/c=0-277-5454-3358/local/-/media/2018/01/05/SiouxFalls/SiouxFalls/636507631269133880-Source-008.jpg?width=3200&height=1808&fit=crop&format=pjpg&auto=webp">

</div>


<div class="sectionTwo">
    <div class="sectionTwoInnerContainer">
        <div class="sectionTwoInnerContainerLeft">
            <h1> Coffee For The Soul </h1>
            <p>
                It's not just a drink, it's a daily ritual.
            </p>
            <div style="border: 1px solid black;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Coffee" asp-action="Index">Menu</a>
            </div>
            
        </div>
        <div class="sectionTwoInnerContainerRight">
            <img alt="image desc" src="https://static.wixstatic.com/media/10a139_7124e672ef014e9c9bccef26c236cbb4~mv2.jpg/v1/fill/w_656,h_800,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Photo%20by%20Carter%20Nance.jpg"; class="sectionTwoInnerContainerRight">
        </div>
    </div>
</div>


<div class="sectionFour">
    <div class="sectionFourInnerContainer">
        
        <div class="sectionFourInnerContainerLeft">
            <img alt="image desc" src="https://static.wixstatic.com/media/10a139_7124e672ef014e9c9bccef26c236cbb4~mv2.jpg/v1/fill/w_656,h_800,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Photo%20by%20Carter%20Nance.jpg"; class="sectionTwoInnerContainerRight">
        </div>

        <div class="sectionFourInnerContainerRight">
            <h1> Cozy Safe Space </h1>
            <p>
                Step inside our store and you'll find yourself surrounded by exposed brick walls adorned with local artwork and vintage coffee posters.
            </p>
            <div style="border: 1px solid black;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Place an Order Now</a>
            </div>

        </div>
    </div>
</div>

<div class="sectionThree">

    <div class="sectionThreeOuterContainer">
        <h2>
            Our Roast
        </h2>
        <p>
            Hand-roasted beans dance with hints of dark chocolate and caramel,
            while subtle notes of vanilla linger on your palate.
        </p>
    </div>
        
    <div class="sectionThreeOuterContainer">
        <h2>
            Artisans
        </h2>
        <p>
            Our artisan coffee craftsman focus on creating the most tastful beverages.
        </p>
    </div>

    <div class="sectionThreeOuterContainer">
        <h2>
            Blends
        </h2>
        <p>
            Our signature Soul Warmer blend is more than just coffee - it's a moment of pure comfort in every sip.
        </p>
    </div>
</div>


