
/*All*/



/*Index*/


/*detailTopImage*/
.detailTopImage{
    max-width: 100%;
    height: auto;
}

/* index Table*/
.detailTable
{
    border-collapse: collapse;
    border: 1px solid black;
    
    table-layout: auto;
    
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* section 2 */
.sectionTwo{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sectionTwoInnerContainer{
    padding-top: .5rem;
    padding-bottom: .5rem;

    /*flex box multiple divs*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.sectionTwoInnerContainerRight{
    max-height: 25rem;
}
.sectionTwoInnerContainerLeft{
    max-width: 25rem;

}

/*horizontal fit*/
/*max-width: fit-content;*/
/*margin-left: auto;*/
/*margin-right: auto;*/

/* Section 3 */
.sectionThree {
    display: flex;

}

.sectionThreeOuterContainer{
    /*max-width: 25rem;*/
    max-height: 25rem;
    flex: 1;
    padding: .5rem;
    margin: 2rem;
}



/* section 4  (2 but flipped)*/
.sectionFour{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sectionFourInnerContainer{
    padding-top: .5rem;
    padding-bottom: .5rem;

    /*flex box multiple divs*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.sectionFourInnerContainerLeft{
    max-height: 25rem;
    
}
.sectionFourInnerContainerRight{
    max-width: 25rem;

}









/*Detail*/




/*Create*/

/*Edit*/

/*Delete*/
