@model WebApplication2.Models.Customer

<link href="~/css/UserStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_UserLayout";
}


<h1 style="margin-bottom: 10px"> Customer Home </h1>

<div>
    end
</div>