@model List<WebApplication2.Models.Coffee>

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<div>
    <h1>
        Analytics and Backend
    </h1>
    <p>
        What is this page? 
        <ul>
            <li>
                Showcase some data analytics
            </li>
            <li>
                 Showcase what is happening on the "backend" of this website as it navigates through the different model, views, & controllers
            </li>
            <li>
                 Showcase code stack: Html, CSS, .Net, postgres, docker, git,
            </li>
        </ul>

    </p>
    <p>
        Below we xyz...
    </p>
    
</div>

<div class="detailTable">
    <div class="container text-center" style="font-size: 25px; margin-top: 25px; margin-bottom: 25px">
        <div>
            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Index"> Coffee </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Create"> Create </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Edit"> Edit </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Coffee" asp-action="Delete"> Delete </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detailTable">
    <div class="container text-center" style="font-size: 25px; margin-top: 25px; margin-bottom: 25px">
        <div>
            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Customer" asp-action="Index"> Customer </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Customer" asp-action="Create"> Create </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Customer" asp-action="Edit"> Edit </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Customer" asp-action="Delete"> Delete </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="detailTable">
    <div class="container text-center" style="font-size: 25px; margin-top: 25px; margin-bottom: 25px">
        <div>
            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Sale" asp-action="Index"> Sale </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Sale" asp-action="Create"> Create </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Sale" asp-action="Edit"> Edit </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Sale" asp-action="Delete"> Delete </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="detailTable">
    <div class="container text-center" style="font-size: 25px; margin-top: 25px; margin-bottom: 25px">
        <div>
            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Order" asp-action="Index"> Order </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Order" asp-action="Create"> Create </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a asp-area="" asp-controller="Order" asp-action="Edit"> Edit </a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Order" asp-action="Delete"> Delete </a>
                </div>
            </div>
        </div>
    </div>
</div>
