@model List<WebApplication2.Models.Coffee>

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<div>
    <h1>
        Analytics and Backend
    </h1>
    <p>
        What is this page? 
        <ul>
            <li>
                Showcase some data analytics
            </li>
            <li>
                 Showcase what is happening on the "backend" of this website as it navigates through the different model, views, & controllers
            </li>
            <li>
                 Showcase code stack: Html, CSS, .Net, postgres, docker, git,
            </li>
        </ul>

    </p>
    <p>
        Below we xyz...
    </p>
    
</div>

<div>
    <h4>Coffee Data: </h4>
    <div>
        <a asp-controller="Coffee" asp-action="Index"> Index </a>
        <a asp-controller="Coffee" asp-action="Create"> Create </a>
    </div>
</div>

<div>
    <h4>Customer Data: </h4>
    <div>
        <a asp-controller="Customer" asp-action="Index"> Index </a>
        <a asp-controller="Customer" asp-action="Create"> Create </a>
    </div>
</div>

<div>
    <h4>Order Data: </h4>
    <div>
        <a asp-controller="Order" asp-action="Index"> Index </a>
        <a asp-controller="Order" asp-action="Create"> Create </a>
    </div>
</div>
<div>
    <h4>Sale Data: </h4>
    <div>
        <a asp-controller="Sale" asp-action="Index"> Index </a>
        <a asp-controller="Sale" asp-action="Create"> Create </a>
    </div>
</div>

