@model List<WebApplication2.Models.Coffee>

<link href="~/css/AboutUsStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<div>
    <h1>
        Our Company
    </h1>
</div>


<div >
    <img class="mainSectionImages" alt="top image desc" src="https://www.argusleader.com/gcdn/-mm-/0062548526e48e1ee657438c6083f0e92d7fcc23/c=0-277-5454-3358/local/-/media/2018/01/05/SiouxFalls/SiouxFalls/636507631269133880-Source-008.jpg?width=3200&height=1808&fit=crop&format=pjpg&auto=webp">
</div>

@* main body *@
<div>
    <div>
        <h1>
            Our History
        </h1>
    </div>
    <div class="mainSectionText">
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nunc scelerisque pharetra suspendisse auctor rutrum condimentum vel. 
            Platea enim lacus; erat lacinia mi maecenas. Cras ante risus cras duis consequat elit. 
            Mi diam integer senectus sagittis molestie inceptos, neque vivamus. Nulla consectetur placerat sem ornare mi.
            Magnis non lacinia mollis platea himenaeos.
        </p>
        <p>
            Ligula class cursus dictumst dis ut nec accumsan. Elit ipsum sem dictum eleifend habitant vestibulum.
            Mus morbi tempor platea vel taciti montes montes auctor. Dictumst mus nam erat nibh suscipit volutpat ac dictumst.
            Placerat lectus arcu libero nam cras erat. Fringilla scelerisque augue et blandit himenaeos; egestas torquent senectus neque.
            Dui sed nec pulvinar pulvinar ornare posuere.
        </p>
        <p>
            Habitasse eleifend morbi; vivamus rutrum mus per nam? Fusce mauris sem nostra euismod porta lectus sodales interdum.
            Pellentesque pretium purus lorem nullam senectus egestas per. Volutpat non purus maximus nulla habitant laoreet diam vulputate.
            Dolor feugiat facilisi amet lectus potenti blandit interdum. Venenatis nec phasellus nisi phasellus ac lectus mollis. 
            Magna lacus velit aptent viverra purus maximus mauris? Sem nam facilisi proin feugiat malesuada gravida.
            Netus adipiscing libero congue habitasse lacinia turpis.
        </p>
    </div>


    <div >
        <img class="mainSectionImages" alt="top image desc" src="https://www.argusleader.com/gcdn/-mm-/0062548526e48e1ee657438c6083f0e92d7fcc23/c=0-277-5454-3358/local/-/media/2018/01/05/SiouxFalls/SiouxFalls/636507631269133880-Source-008.jpg?width=3200&height=1808&fit=crop&format=pjpg&auto=webp">
    </div>

    
    <div>
        <h1>
            Our Coffee
        </h1>
    </div>
    <div class="mainSectionText">
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nunc mollis sapien imperdiet rutrum neque auctor aenean.
            Lacus hac maximus sapien integer nibh tristique mauris. Interdum sed diam magnis phasellus habitant egestas.
            Duis fermentum nisl nulla fames cras urna. Interdum velit iaculis faucibus torquent eros. Ex lectus per eget dolor efficitur fermentum.
            Vel consequat porttitor arcu et habitant ad lectus fusce mollis. Accumsan nascetur nibh at hendrerit hac dolor.
        </p>
        
        <p>
            Nunc etiam habitant condimentum turpis mollis arcu. Nec phasellus facilisi aptent fringilla iaculis nunc.
            Consequat inceptos parturient aliquet nulla cubilia. Et sapien turpis turpis orci fusce neque viverra.
            Nisl est blandit sollicitudin phasellus, class ipsum venenatis cubilia accumsan. Nam nec sollicitudin rutrum ridiculus massa.
            Nec ut curabitur venenatis potenti erat ante purus ultricies.
        </p>
    </div>



    <div >
        <img class="mainSectionImages" alt="top image desc" src="https://www.argusleader.com/gcdn/-mm-/0062548526e48e1ee657438c6083f0e92d7fcc23/c=0-277-5454-3358/local/-/media/2018/01/05/SiouxFalls/SiouxFalls/636507631269133880-Source-008.jpg?width=3200&height=1808&fit=crop&format=pjpg&auto=webp">
    </div>

    
    <div>
        <h1>
            Our Culture
        </h1>
    </div>
    <div class="mainSectionText">
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nunc mollis sapien imperdiet rutrum neque auctor aenean.
            Lacus hac maximus sapien integer nibh tristique mauris. Interdum sed diam magnis phasellus habitant egestas.
        </p>
        
        <p>
            Duis fermentum nisl nulla fames cras urna. Interdum velit iaculis faucibus torquent eros. Ex lectus per eget dolor efficitur fermentum.
            Vel consequat porttitor arcu et habitant ad lectus fusce mollis. Accumsan nascetur nibh at hendrerit hac dolor.
        </p>
    </div>

    
</div>


