
<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
ViewBag.Title = "title";
Layout = "_CoffeeLayout";
}

@* complex *@
@* https://www.starbucks.com/menu *@
@* https://www.scooterscoffee.com/menu *@

@* simple *@
@* https://elementalcoffee.com/drink-menu/ *@
@* https://www.yellowdogcoffeecompany.com/menu *@

<div>

    <h1>Cage Menu</h1>
    <div>
        <div>
            <h3>Classics</h3>
            <div>
                <div>
                    cappa
                </div>
                <div>
                    latte
                </div>
                <div>
                    chai
                </div>
            </div>
        </div>
        <div>
            <h3>Tea</h3>
            <div>
                <div>
                    Japanese Mossy Green Tea
                </div>
                <div>
                    Tawianese Artisan Oolong Tea
                </div>
                <div>
                    Chinese Oak Red Tea
                </div>
                <div>
                    English Earl Grey Tea
                </div>
                <div>

                </div>
            </div>
        </div>
        <div>
            <h3>Frap</h3>
            <div>
                <div>
                    vanilla
                </div>
                <div>
                    Caramel
                </div>
            </div>
        </div>
        <div>
            <h3>Coffee Blends</h3>
            <div>
            </div>
        </div>
    </div>
</div>
<div class="sectionThree">

    <div class="sectionThreeOuterContainer">
        <h2>
            header 1
        </h2>
        <p>
            Aenean massa odio, varius iaculis tristique quis, vestibulum nec orci.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Curabitur imperdiet justo sed nisl pretium faucibus.
        </p>
    </div>

    <div class="sectionThreeOuterContainer">
        <h2>
            header 2
        </h2>
        <p>
            Donec sapien urna, dignissim sit amet condimentum vel, pretium eu turpis.
            Sed iaculis orci non ex pulvinar, non malesuada tellus blandit.
        </p>
    </div>

    <div class="sectionThreeOuterContainer">
        <h2>
            header 3
        </h2>
        <p>
            Pellentesque metus velit, suscipit ac nibh sit amet,
            sagittis vehicula odio. Curabitur fringilla viverra porta.
            Suspendisse eget convallis enim.
        </p>
    </div>
</div>



<div class="sectionTwo">
    <div class="sectionTwoInnerContainer">

        <div class="sectionTwoInnerContainerRight">
            <img alt="image desc" src="https://static.wixstatic.com/media/10a139_7124e672ef014e9c9bccef26c236cbb4~mv2.jpg/v1/fill/w_656,h_800,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Photo%20by%20Carter%20Nance.jpg"; class="sectionTwoInnerContainerRight">
        </div>
    </div>
    <div class="sectionTwoInnerContainerLeft">
        <h1> Header </h1>
        <p>
            Etiam nec neque massa. Suspendisse elit sapien, dignissim quis est vel, viverra sollicitudin mi.
            Morbi id convallis magna. Etiam id mi cursus, viverra tellus eget, elementum ipsum.
            Cras nec magna nec odio gravida pulvinar. Suspendisse vel turpis id elit malesuada consequat in id ligula.
            Donec eu eleifend justo.
        </p>
        <div style="border: 1px solid black;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Coffee" asp-action="Details"> See Offerings</a>
        </div>

    </div>
</div>



<div class="sectionTwo">

    <div class="sectionTwoInnerContainerLeft">
        <h1> Header </h1>
        <p>
            Etiam nec neque massa. Suspendisse elit sapien, dignissim quis est vel, viverra sollicitudin mi.
            Morbi id convallis magna. Etiam id mi cursus, viverra tellus eget, elementum ipsum.
            Cras nec magna nec odio gravida pulvinar. Suspendisse vel turpis id elit malesuada consequat in id ligula.
            Donec eu eleifend justo.
        </p>
        <div style="border: 1px solid black;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Coffee" asp-action="Details"> See Offerings</a>
        </div>

    </div>

    <div class="sectionTwoInnerContainer">

        <div class="sectionTwoInnerContainerRight">
            <img alt="image desc" src="https://static.wixstatic.com/media/10a139_7124e672ef014e9c9bccef26c236cbb4~mv2.jpg/v1/fill/w_656,h_800,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Photo%20by%20Carter%20Nance.jpg"; class="sectionTwoInnerContainerRight">
        </div>
    </div>
</div>

