@model WebApplication2.Models.MenuItem

@{
    ViewBag.Title = "Menu Item Details";
    Layout = "_CoffeeLayout";
}

<link href="~/css/MenuStyle.css" rel="stylesheet" type="text/css" />

<h1 style="margin-bottom: 20px">Menu Item Details</h1>

<div class="menu-details-container">
    <div class="menu-image">
        <img src="~/images/menu-image.jpg" alt="menu Image" class="img-fluid" />
    </div>

    <div class="menu-info">
        <h2>@Model.Name - $@Model.Price</h2>
        <div class="menu-meta">
            <span><strong>Description:</strong> @Model.Description</span>
        </div>
     
    </div>
</div>

<footer>
    footer content
</footer>

